<div class="container mt-5">



    <div class="row">

        <div class="col-md-12">

            <div class="card text-center">
                <div class="card-header">
                    <h2 class="dashboard-titulo">Softtek Tournaments</h2>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Próximo Juego</h5>
                    <p class="card-text"><img src="https://upload.wikimedia.org/wikipedia/commons/8/81/Club_Am%C3%A9rica.png" width="100px" alt=""> VS <img src="" alt=""> <img src="https://upload.wikimedia.org/wikipedia/commons/2/27/HnoChiva.png" width="100px" alt=""></p>

                </div>
                <div class="footer-horario" class="card-footer text-muted">
                    Lunes a las 13:00
                </div>
            </div>
        </div>

    </div>


    <hr>


   
        <div class="card text-center">
            <div class="card-header">
                <h4>Equipos</h4>
            </div>
            <div class="card-body">
                <h5 class="card-title"></h5>
                <i class="fa fa-tshirt incrementar" style="width:50; height:50;" aria-hidden="true"></i>
                <p class="card-text">20 Equipos registrados</p>
                <a href="#" class="btn btn-secondary" [routerLink]="['/gestionarEquipos']">Gestionar</a>
            </div>

        </div>


        <hr>

  





        <div class="row">
            <div class="col-md-12">
                <app-comunicados></app-comunicados>
            </div>
        </div>
        <div class="card-body">
          

            <div class="row mt-3">
                <div class="col-md-12">

                    <app-tabla-comunicados></app-tabla-comunicados>




                </div>
            </div>
            <hr>

            <div class="col md-8">
                <h4 class="text-center">Tabla de resultados</h4>
                <table class="table">
                    <caption>Participantes</caption>
                    <thead>
                        <tr>
                            <th scope="col">Posición</th>
                            <th scope="col">Equipo</th>
                            <th scope="col">PLD</th>
                            <th scope="col">W</th>
                            <th scope="col">D</th>
                            <th scope="col">L</th>
                            <th scope="col">F</th>
                            <th scope="col">A</th>
                            <th scope="col">GD</th>
                            <th scope="col">PTS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>
