<div class="container mt-5">



    <div class="row">

        <div class="col-md-12">

            <div class="card text-center">
                <div class="card-header">
                    <h2 class="dashboard-titulo">Softtek Tournaments</h2>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Próximo Juego</h5>
                    <p class="card-text"><img src="https://upload.wikimedia.org/wikipedia/commons/8/81/Club_Am%C3%A9rica.png" width="100px" alt=""> VS <img src="" alt=""> <img src="https://upload.wikimedia.org/wikipedia/commons/2/27/HnoChiva.png" width="100px" alt=""></p>

                </div>
                <div class="footer-horario" class="card-footer text-muted">
                    Lunes a las 13:00
                </div>
            </div>
        </div>

    </div>


    <hr>


    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Equipos</h5>
                <p class="card-text">20 Equipos</p>
                <a href="#" class="btn btn-secondary" [routerLink]="['/gestionarEquipos']">Gestionar</a>
            </div>
        </div>
    </div>


    <hr>


    <div class="row">
        <div class="col-md-12">
            <app-comunicados></app-comunicados>

        </div>
    </div>
</div>









