<div class="container">

    <!-- Tarjetas de torneos -->

    <div class="jumbotron mt-3">
        <h2>Torneo de fútbol</h2>
        <hr>

        <div class="row mt-3">
            <div class="col-md-12">
                <div class="card text-white bg-success mb-3">
                    <div class="card-header"><strong>Partido</strong></div>
                    <div class="card-body">
                        <h5 class="card-title">Chivas vs América</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae perspiciatis molestias ipsa error, aspernatur vero beatae doloremque nemo voluptas vel!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="card text-white bg-success mb-3">
                    <div class="card-header"><strong>Partido</strong></div>
                    <div class="card-body">
                        <h5 class="card-title">Cruz azul vs Tigres</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae perspiciatis molestias ipsa error, aspernatur vero beatae doloremque nemo voluptas vel!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron mt-3">
        <h2>Torneo de basketball</h2>
        <hr>

        <div class="row mt-3">
            <div class="col-md-12">
                <div class="card text-white bg-success mb-3">
                    <div class="card-header"><strong>Partido</strong></div>
                    <div class="card-body">
                        <h5 class="card-title">Lakers vs Chicago Bulls</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae perspiciatis molestias ipsa error, aspernatur vero beatae doloremque nemo voluptas vel!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="card text-white bg-success mb-3">
                    <div class="card-header"><strong>Partido</strong></div>
                    <div class="card-body">
                        <h5 class="card-title">Celtics vs Otros</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae perspiciatis molestias ipsa error, aspernatur vero beatae doloremque nemo voluptas vel!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>