<div class="container mt-5">

  <div class="row">
    <div class="col-md-12">

      <div class="card text-center">
        
            
        <div class="card-header"><div class="row"> <div class="col"> <button> <i class="fas fa-user-edit"></i></button></div>
         <div class="col"> Jugador</div> <div class="col"> <button> <i class="fas fa-user-minus"></i> </button></div>
        </div>
      </div>
    
      
      
        
      
      
        <div class="card-body">
          <h5 class="card-title">Nombre</h5>
          <p class="card-text">xxx@outlook.es</p>
          
        
            <div class="col-md-5"></div>
          </div>
        </div>

      </div>


    </div>



  </div>
