<div class="container mt-5" id="agregarForm">

    <div class="row mb-3">
        <div class="col-md-12">

            <div class="text-center text-light">

                <div class="card-header-pills">

                    <h2> <i class="fas fa-users"></i></h2>
                    <h2> Agregar Equipos</h2>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">


            <!-- aqui se agregan los equipos del torneo -->

        </div>
    </div>


    <div class="row mb-4 mt-3">
        <div class="col-md-9"></div>
        <div class="col-md-3 mt-3">
            <button type="button" (click)="anadirJugadores()" class="btn btn-outline-light btn-lg btn-block">Agregar Equipo <i class="fa fa-plus-circle" aria-hidden="true"></i></button>
        </div>
    </div>

    <div class="row">

        <button type="button" name="" id="" class="btn btn-outline-light btn-lg btn-block"> <i class="fas fa-save"></i> Guardar torneo </button>

    </div>


</div>