<div class="container mt-5">
  
   <div id="agregarForm">

   <div class="text-center text-light">

  <div class="card-header-pills">

  <h2> <i class="fas fa-users"></i></h2>
  <h2> Liga de equipo</h2><!--validar nombre de torneo-->

  </div>
  </div>

    <div class="card-header-pills" >

     <div>
      

    <div class="form-group row">
    <label class="col-2 col-form-label"></label>
    <div class="col-md-8">

    
    <br>
    <br>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Agregar equipo" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="input-group-text" id="basic-addon2" [routerLink]="['/agregarIntegrantes']"><i class="fas fa-plus-circle"></i></button>
        </div>
      </div>
       <br>

    </div>
    </div>

        <div class="fa-pull-right">
            <button type="button"  class="btn btn-success "><i class="fas fa-check"></i> Guardar Equipos</button>
        </div>

    </div>

    </div>
    </div>
    </div>


