<div class="container mt-4">

    <div class="row">
        <div class="col-md-12">
            <h3>Publicar Noticia</h3>
        </div>

    </div>

    <hr>

    <div class="row">

        <div class="col-md-12">
            <img src="./assets/iconos-comunicados/comment.svg" class="img_icon_comunicados" alt="">
            <textarea class="textarea_comunicados" placeholder="Ingrese el comunicado"></textarea>

        </div>
        <br>

    </div>

    <div class="row">

        <div class="col-md-5">

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Relevancia</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                  <option selected>Seleccione</option>
                  <option value="1">Baja</option>
                  <option value="2">Media</option>
                  <option value="3">Alta</option>
                </select>
            </div>


        </div>

        <div class="col-md-5 text-center">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="fa fa-envelope mr-1" aria-hidden="true"></i>
                    <input type="checkbox" class="mr-1" aria-label="Checkbox for following text input"> Notificar por email
                </div>
            </div>
        </div>
        <div class="col-md-2">

            <button type="button" name="" id="" class="btn btn-outline-primary btn-block">publicar</button>

        </div>
    </div>




</div>