<div class="container">

    <div class="row">

        <div class="col-md-9 mt-2">
            <h1>Dashboard Equipos</h1>
        </div>
        <div class="col-md-3 mt-3">
            <button type="button" name="" id="" class="btn btn-outline-danger btn-lg btn-block">Regresar</button>
        </div>
    </div>
    <hr>


    <div class="row mb-4">
        <div class="col-md-9"></div>
        <div class="col-md-3">
            <button type="button" [routerLink]="['/agregarIntegrantes']" class="btn btn-outline-primary btn-lg btn-block">Agregar equipo</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table text-center table-responsive-md">
                <thead class="thead-inverse">
                    <tr>
                        <th>#</th>
                        <th>Nombre del equipo</th>
                        <th>Numero de integrantes</th>
                        <th>Fecha de creación</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">asd</td>
                        <td>ads</td>
                        <td>asd</td>
                        <td>asd</td>
                        <td>
                            <button type="button" class="btn btn-outline-warning btn-md">Editar</button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>